<section id="myChildren" style="background-color: #FFFDF5"> 
  <div class="content ">
    <div class="grid-container">
      
      <table id="student-data" class="table-expand">
        <thead>
          <tr class="table-expand-row">
            <th style="width: 100px">Profile Photo</th>
            <th style="width: 100px">Children</th>
            <th style="width: 100px">Teacher</th>
            <th style="width: 100px">Teacher Contact</th>
            <th style="width: 100px">Update Profile</th>
          </tr>
        </thead>

        <tbody>
          {{#each studentData}}

          <tr class="table-expand-row" data-open-details id="existingStudentData">
             <td><img class="student-photo" src="/static-files/assets/images/stock_images/{{imageLink}}"></img></td>
            <td>{{firstName}} {{lastName}}</td>
            <td style="width: 100px">Teacher</td>
            <td>Teacher's Contact</td>
            <td><span class="expand-icon">Click to Update</span></td>
          </tr>

       
      <tr class="table-expand-row-content">
        <td colspan="8" class="table-expand-row-nested">
            <div class="grid-container">
        <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="my-children-tabs">
          <li class="tabs-title is-active"><a href="#panel-1{{id}}" aria-selected="true">General</a></li>
          <li class="tabs-title title-tab-red"><a href="#panel-2{{id}}">Emergency Info</a></li>
          <li class="tabs-title"><a href="#panel-3{{id}}">Allergies</a></li>
          <li class="tabs-title"><a href="#panel-4{{id}}">Notes</a></li>
        </ul>

<div class="tabs-content" data-tabs-content="my-children-tabs">
  <!-- Section 1: panel 1 -->
  <div class="tabs-panel is-active" id="#panel-1{{id}}">
     <form id= "create-form">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentFirstName">First Name</label>
            <input type="text" class="form-control" id="studentFirstName" value="{{firstName}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentLastName">Last Name</label>
            <input type="text" class="form-control" id="studentLastName" value="{{lastName}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentBirthDate">Birthdate (Format: YYYY-MM-DD)</label>
            <input type="text" class="form-control" id="studentBirthDate" value="{{birthDate}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentGender">Gender</label>
            <input type="text" class="form-control" id="studentGender" value="{{gender}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentEthnicity">Ethnicity</label>
            <input type="text" class="form-control" id="studentEthnicity" value="{{ethnicity}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="studentLanguage">What language do you speak at home?</label>
            <input type="text" class="form-control" id="studentLanguage" value="{{primaryLanguage}}">
          </div>
        </div>
        <div class="form-row">
          <label for="exampleFileUpload" class="button">Upload File</label>
          <input type="file" id="exampleFileUpload" class="show-for-sr">
          </div>
       <a type="submit" id="add-user" class="button expanded">Update</a>
    </form>
  </div>
  <!-- Section 2: panel 2 -->
  <div class="tabs-panel" id="#panel-2{{id}}">
    <form>
    <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactName">Emergency Contact Name</label>
            <input type="text" class="form-control" id="emergencyContactName" value="{{emergencyContactName}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactPhone">Emergency Contact Phone Number</label>
            <input type="text" class="form-control" id="emergencyContactPhone" value="{{emergencyContactPhone}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="emergencyContactRelation">Emergency Contact Relationship</label>
            <input type="text" class="form-control" id="emergencyContactRelation" value="{{emergencyContactRelation}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="doctorName">Doctor's Name</label>
            <input type="text" class="form-control" id="doctorName" value="{{doctorName}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="doctorPhone">Doctor's Phone Number</label>
            <input type="text" class="form-control" id="doctorPhone" value="{{doctorPhone}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="dentistName">Dentist's Name</label>
            <input type="text" class="form-control" id="dentistName" value="{{dentistName}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="dentistPhone">Dentist's Phone Number</label>
            <input type="text" class="form-control" id="dentistPhone" value="{{dentistPhone}}">
          </div>
        </div>
        <a type="submit" id="add-user" class="button expanded">Update</a>
    </form>
   </div>
  <!-- Section 3: panel 3 -->
  <div class="tabs-panel" id="#panel-3{{id}}">
    <form>
     <div class="form-row">
          <div class="form-group col-md-12">
             <div class="grid-x grid-padding-x">
          <fieldset>
            <legend>Does Your child have any allergies?</legend>
            <input type="checkbox" name="confirm-allergies" value="yes" id="confirm-allergies-yes"><label for="confirm-allergies-yes">Yes</label>
            <input type="checkbox" name="confirm-allergies" value="no" id="confirm-allergies-no"><label for="confirm-allergies-no">No</label>
          </fieldset>
        </div>
        
            <label for="allergyDescription">Allergies (if any)</label>
            <input type="text" class="form-control" id="allergyDescription" value="{{allergyDescription}}">
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <fieldset>
            <legend>If you answered yes, how severe are your child's allergies? (1 = severe 3 = mild)</legend>
            <input type="radio" name="allergies" value="life-threatening" id="life-threatening"><label for="life-threatening">life Threatening</label>
            <input type="radio" name="allergies" value="Blue" id="Severe"><label for="Severe">Severe</label>
            <input type="radio" name="allergies" value="Yellow" id="Moderate"><label for="Moderate">Moderate</label>
          </fieldset>
        </div>
         <a type="submit" id="add-user" class="button expanded">Update</a>
    </form>
  </div>
  <!-- Section 4: 4 --> 
  <div class="tabs-panel" id="#panel-4{{id}}">
     <form>
     <div class="form-row">
          <div class="form-group col-md-12">
            <label for="parent-notes"></label>
            <div class="large-12 columns">
              <fieldset>
                <legend>Additional notes for the teacher. </legend>
                <textarea>{{notes}}</textarea>
              </fieldset>
          </div>
          </div>
        </div>
         <a type="submit" id="add-user" class="button expanded">Update</a>
    </form>  
  </div>
  
</div>

</div>
        </td>
      </tr>
         {{/each}}
    </tbody>
    
  </table> <!-- End of table -->
    </div>
  </div>
</section>