
<section class="filter-simple">
    <div class="content">
        <div class="grid-container">
            <!-- Filter Titles --> 
            <div class="button-group round">
                <button class="button hollow filter-simple-button is-active" data-filter="all">Class Roster</button>
                <button class="button hollow filter-simple-button" data-filter="allergies">Allergies</button>
                <button class="button hollow filter-simple-button" data-filter="approvedPickup">Approved Pickup</button>
            </div>

            <div class="row small-up-2 medium-up-3 large-up-4">
                <div class="grid-x grid-padding-x text-center">
<!-- EDIT Below this line.. these are placeholder images for filtering --> 
                    
                    {{#each classRosterData}}

                        {{#if allergies}}
                            <div class="large-3 cell filter-simple-item allergies">
                                <img class="allergies" src="/static-files/assets/images/stock_images/{{imageLink}}"></img>
                                <h5>{{firstName}} {{lastName}}</h5>
                                <h5>{{allergyDescription}}</h5>
                            </div>
                        {{else}}
                            <div class="large-3 cell filter-simple-item">
                                <img src="/static-files/assets/images/stock_images/{{imageLink}}"></img>
                                <h5>{{firstName}} {{lastName}}</h5>
                            </div>
                        {{/if}}

                    {{/each}}
 
                </div>
            </div>
    </div>
  </div>
</section> <!-- End of filtering section --> 

